body {
  font-family: sans-serif;
}

#select-container {
  margin-bottom: 1rem;
}

#data-container>div {
  padding: 1rem;
  border: 1px solid #ddd;
}

/* Źródła: */
/* 1. https://medium.com/samsung-internet-dev/making-an-ar-game-with-aframe-529e03ae90cb */
